.idea
py.iml
2Classification/data
2Classification/acc.png
2Classification/loss.png
2Classification/output_logistic.csv
2Classification/log
5ObjectDetect/data
others/dataset
others/dataset.zip
*.h5
*.png
*.jpeg
*.jpg
8ocr/images
